[init]
	defaultBranch = master

[core]
	editor = nano
	excludesfile = ~/.gitignore_global

# Include a local config that isn't tracked in git.
# This is perfect for machine-specific keys, personal vs work email, etc.
[include]
	path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
